.result {
  /* height: 60px; */
  background-color: rgb(161, 97, 97);
 
}
.title {
  text-align: center;
  color: rgb(112, 112, 250);
  font-style: italic;  
  font-size: xx-large;
}
.result in {
  font-size: 50px;
  margin: 6px;

}

.calculator-body {
  max-width: 400px;
  margin: auto;
  
}

.button {
  display: block;
  /* background-color: black; */
}
input {
  color:rgb(188, 44, 255);
  font-style: italic;
  background-color: rgb(197, 183, 231);
  width: 98%;
  height: 60px;
  font-size: 30px;
}

button{
  color:rgb(0, 0, 0);
  /* background-color: rgb(47, 206, 153); */
  background-color: rgb(167, 145, 219);
  font-style: italic;
  width: 25%;
  height: 60px;
  font-size: 30px;
}

body {
  background-color: rgb(238, 236, 133);
}